@import "tailwindcss";

/*
 *  STYLE 16
 */

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
  background-color: #000000;
  border-radius: 7%;
}

::-webkit-scrollbar {
  width: 7px;
  height: 5px;
  background-color: #00000000;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #000000;
  background-image: -webkit-linear-gradient(
    top,
    #708db9 0%,
    #42536d 50%,
    #42536d 51%,
    #708db9 100%
  );
}




